{% extends "airflow/master.html" %}
{% block head_js %}
{{ super() }}

<script src="{{ url_for_asset('jstree/jstree.min.js') }}"></script>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for_asset('jstree/themes/default/style.min.css') }}" />
<style>
  .margin-left-md { margin-left: 1em; }
  .margin-top-md { margin-top: 1em; }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<h2>Exploratory Data Analysis</h2>
<div id="eda-sources">
  <div>
    <h3 class="margin-top-md">Raw Inputs</h3>
    <button type="button" class="btn btn-primary pull-right margin-left-md" data-toggle="modal" data-target="#newSourceHDFS">
      HDFS
    </button>
    <button type="button" class="btn btn-info pull-right margin-left-md" data-toggle="modal" data-target="#newSourceFileUpload">
      Excel/CSV/TSV
    </button>
    <a href="/databaseview/list/?edaHelp=True" class="btn btn-warning pull-right margin-left-md" id="db-link">
      SQL Database
    </a>
    <h4 class="pull-right">Define the source of your data: </h4>
  </div>
  <br><br>
  <div class="input-group">
    <span class="input-group-addon">Search source: </span>
    <input type="text" class="form-control" id="sourceSearch">
  </div>
  <br>
  <div class="table-responsive" style="max-height: 400px;">
    <table class="table table-bordered table-hover" id="sourceTable">
      <thead>
        <tr class="table-head">
          <th colspan="6" class="col-md-6">Source</th>
          <th colspan="6" class="col-md-6">Links</th>
        </tr>
      </thead>
      <tbody>
      <div>
        {% for source in sources %}
        <tr>
          <td class="couture_table_text" class="text-center" colspan="6" class="col-md-6">
            {{ source }}
          </td>
          <td colspan="2" class="col-md-2">
            <div>
              <a href="{{ url_for('EDAView.run_view', source=source.id, type='L0') }}" data-toggle="tooltip" title="Run Preliminary EDA on this data source.">
                Preliminary EDA
                <i class="fa fa-play fa-lg"></i>
              </a>
            </div>
          </td>
          <td colspan="2" class="col-md-2">
            <div>
              <a href="{{ url_for('EDAView.run_view', source=source.id, type='L1') }}" data-toggle="tooltip" title="Run Data Importance EDA on this data source.">
                Data Importance EDA
                <i class="fa fa-play fa-lg"></i>
              </a>
            </div>
          </td>
          <!-- <td colspan="1" class="col-md-1">
            <div>
              <a href="{{ url_for('EDAView.list_outputs_view', source=source.id) }}">
                <i class="fa fa-info-circle fa-lg" data-toggle="tooltip" title="Get Info on All EDA runs for this source."></i>
              </a>
            </div>
          </td> -->
          <td colspan="1" class="col-md-1">
            <a href="{{ url_for('EDAView.source_destroy_view', source=source.id) }}" onclick="return confirm('Are you sure to delete {{source}} ?')">
              <i class="fa fa-trash fa-lg" style="color:red" aria-hidden="true" data-toggle="tooltip" title="Delete Source"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </div>
      </tbody>
    </table>
  </div>
</div>
<div id="eda-outputs">
  <h3>Processed Outputs</h3>
  <div id="outputs-tree"></div>
</div>
<!-- Modal for Adding a Data Source -->
<div class="modal fade" id="newSourceHDFS" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new hdfs data source</h4>
      </div>
      <form method="POST" action="{{ url_for('EDAView.source_view') }}">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <input name="type" type="hidden" value="{{ source_types.hdfs.value }}">
        <div class="modal-body">
        <div class="form-group">
          <label for="path">Enter source: </label>
          <input type="text" name="path" class="form-control" oninput="checkPath(this)" placeholder="hdfs://" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="newSourceFileUpload" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new data source</h4>
      </div>
      <!-- TODO: Change action url -->
      <form method="POST" action="{{ url_for('EDAView.source_view') }}" enctype="multipart/form-data">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <div class="modal-body">
          <div class="form-group">
            <label for="inputFile">Choose source</label>
            <input type="file" accept=".xlsx, .xls, .csv, .tsv" name="file">
            <p class="help-block">Only <code>.xlsx, .xls, .csv, .tsv</code> file extensions allowed</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block tail_js %}
{{ super() }}
<!-- </body> -->
<script type="text/javascript">

  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    // document.getElementById('db-link').setAttribute('href', "http://" + window.location.hostname + "/databaseview/list/?edaHelp=True");
    $("#sourceSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#sourceTable tr").filter(function() {
        if ( !$(this).hasClass('table-head'))
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
    $('#outputs-tree').jstree({
      'core' : {
        'data' : {{ outputs | safe}}
      },
      "types" : {
        "default" : {
          "icon" : "fa fa-folder-open"
        },
        "dashboard" : {
          "icon" : "fa fa-tachometer"
        }
      },
      'plugins': ['types']
    }).bind("changed.jstree", function (e, data) {
      if(data.node && data.node.a_attr.href !== '#') {
        // document.location = data.node.a_attr.href;
        window.open(data.node.a_attr.href);
      }
    });;
  })

  function pathExists(path) {
    const paths = [
      {% for source in sources %}
        "{{ source }}",
      {% endfor %}
    ];
    if( paths.includes(path) ) return true;
    return false;
  }

  function checkPath(input) {
    if (pathExists(input.value)) {
      input.setCustomValidity('Source already added.');
    }
    else if(! input.value.startsWith('hdfs://')) {
      input.setCustomValidity('Source path must start with hdfs://');
    }
    else {
      input.setCustomValidity('');
    }
  }
</script>
{% endblock %}
