{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_css %}
{{ super() }}
<style>
  .margin-left-md { margin-left: 1em; }
  .margin-top-md { margin-top: 1em; }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
  <div>
    <h2 class="margin-top-md">EDA outputs dashboards for {{source}}:</h2>
  </div>
  <br><br>
  <div class="input-group">
    <span class="input-group-addon">Search result: </span>
    <input type="text" class="form-control" placeholder="filename.html" id="fileSearch">
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered table-hover" id="filesTable">
      <thead>
        <tr class="table-head">
          <th>Dashboard name</th>
        </tr>
      </thead>
      <tbody>
      <div>
        {% for i in files %}
        <tr>
          <td>
            <a href="{{ url_for('EDAView.dashboard_view', filename = i ) }}">
              {{i}}
            </a>
          </td>
        </tr>
        {% endfor %}
      </div>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block tail_js %}
{{ super() }}
<!-- </body> -->
<script type="text/javascript">

  $(document).ready(function () {
    document.getElementById('cout-file-picker').onchange = function() {
      document.getElementById('upload-form').submit();
    };
    $('[data-toggle="tooltip"]').tooltip();

    $("#fileSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#filesTable tr").filter(function() {
        if ( !$(this).hasClass('table-head'))
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  })

</script>
{% endblock %}
