{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_css %}
{{ super() }}

<style>
 * {
  box-sizing: border-box;
}

couture-input[type=text], select, textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

couture-label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  word-wrap: break-word;
  max-width: 280px;
}

couture-input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;

}

couture-input[type=submit]:hover {
  background-color: #45a049;
}
.couture-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.couture-button-delete {
  border: none;
  padding: inherit;
  cursor: pointer;
  margin-left: 2px;
  float: right;
  background: none;
}

.couture-container {
  border-radius: 5px;
  padding: 20px;
}

.couture-col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.couture-col-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
  display : table;
}

/* Clear floats after the columns */
.couture-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .couture-col-25, .couture-col-75, couture-input[type=submit] {
    width: 100%;
    margin-top: 0;
    display : table;
  }
}
.couture-inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.couture-inputfile + label {
    color: white;
    background-color: #4CAF50;
    display: inline-block;
    border-radius: 4px;
   float:right;
}

.couture-inputfile:focus + label,
.couture-inputfile + label:hover {
    background-color: #006400;
}
.couture-inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.file_pick_label {
  padding: 10px 10px 10px 10px;
  color: black;
  margin-left: 100px;
}

.couture_table_text{
  color:black;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
}
.table-bordered>tbody>tr>td {
    border-collapse: collapse;
    border: none;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    }

.text-center {
    text-align: right;
}
</style>
{% endblock %}

{% block body %}
{{ super() }}

<div class="couture-container">
  <form id="upload-form" action="" method="post" enctype="multipart/form-data">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

    <div id ="container-upload">
      <div class="couture-row">
        <div class="couture-col-25">
          {% if len_jar>0 %}
          <h3 style="margin-top:-2%">Jars:</h3>
          {% endif %}
        </div>
        <div>
          <input type="file" name="file" id="file-picker" class="couture-inputfile" multiple/>
          <label for="file-picker" class="file_pick_label">Choose a file</label>
        </div>
      </div>
      <table class="table table-striped table-bordered">
        <tbody>
        {% for i in file_data %}
        {% if i.endswith('.jar') or i.endswith('.r') %}
        <tr>
          <td class="couture_table_text" class="text-center">{{i}}</td>
          <td width="15%" id="modified_time_jar" class="text-center">{{file_data[i]['time']}}</td>
          <td width="10%" id="size_jar" class="text-center">{{file_data[i]['size']}}</td>
          <td width="5%"> <div class="text-center">
            <a href="{{ url_for('CodeArtifactView.download', filename= i) }}">
              <i class="fa fa-download" style="font-size:20px;color:blue;line-height: inherit;"></i>
            </a>
          </div>
          </td>
          <td width="2%"> <button onclick="javascript:function_delete_spark_file('{{i}}')" class="couture-button-delete">
            <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button></td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {% if len_py>0 %}
      <h3>Python Files:</h3>
      {% endif %}
      <table class="table table-striped table-bordered">
        <tbody>
        {% for i in file_data %}
        {% if i.endswith('.py') or i.endswith('.egg') or i.endswith('.zip') %}
        <tr>
          <td class="couture_table_text" class="text-center">{{i}}</td>
          <td width="15%" id="modified_time_py" class="text-center">{{file_data[i]['time']}}</td>
          <td width="10%" id="size_py" class="text-center">{{file_data[i]['size']}}</td>
          <td width="5%" >
            <div class="text-center">
              <a href="{{ url_for('CodeArtifactView.download', filename= i) }}">
                <i class="fa fa-download" style="font-size:20px;color:blue;line-height: inherit;"></i>
              </a>
            </div>
          </td>
          <td width="2%"> <button onclick="javascript:function_delete_spark_file('{{i}}')" class="couture-button-delete">
            <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button> </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
</div>

<!-- Template begins-->
<div class="couture-container" id="newfield_for_delete_Spark" style="display:none">
  <input name="option_title_delete_Spark" id="for_delete_Spark" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

{% endblock %}
{% block tail_js %}
{{ super() }}

<script type="text/javascript">
document.getElementById('file-picker').onchange = function() {
document.getElementById('upload-form').submit();
}

function function_delete_spark_file(option)
{
  let del = confirm("Are you sure you want to delete?");
  if(del) {
    document.getElementById("for_delete_Spark").value = option;
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById('newfield_for_delete_Spark').innerHTML;
    document.getElementById('container-upload').appendChild(div1);
  }
}
</script>
{% endblock %}
