{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_js %}
{{ super() }}
<script type="text/javascript">
// Commented because this was causing unpredictable behavior

//  window.onload = function(){
// getAllNames({{Files | safe}},'{{Arguments['jars']}}');
// showcouturecheckboxes(true);

// Py_getAllNames({{Py_Files | safe}},'{{Arguments['py-files']}}');
//  Py_showcouturecheckboxes(true);

// kt_getAllNames({{kt_Files | safe}},'{{Arguments['keytab']}}');
// kt_showcouturecheckboxes(true);
//   }
  </script>

{% endblock %}

{% block head_css %}
{{ super() }}

<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  height: 30px;
}

.couturelabel {
  padding: 12px 12px 12px 0;
  display: inline-block;
  word-wrap: break-word;
  max-width: 280px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.couturebutton {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.couturebutton-delete {
  border: none;
  padding: inherit;
  cursor: pointer;
  margin-left: 2px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.ccontainer {
  border-radius: 5px;
  padding: 20px;
}

.couturecol-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.couturecol-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.couturecol-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
  display : table;
}

/* Clear floats after the columns */
.couturerow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .couturecol-25, .couturecol-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    display : table;
  }
}

.couture-multiselect {
}

.couture-selectBox {
  position: relative;
}

.couture-selectBox select {
  width: 93%;
  font-weight: bold;
}

.couture-overSelect {
  width: 93%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#couturecheckboxes {
  display: none;
  border: 1px #dadada solid;
}

#couturecheckboxes label {
  display: block;
}

#couturecheckboxes label:hover {
  background-color: #1e90ff;
}

#Py_couturecheckboxes {
  display: none;
  border: 1px #dadada solid;
}

#Py_couturecheckboxes label {
  display: block;
}

#Py_couturecheckboxes label:hover {
  background-color: #1e90ff;
}
#kt_couturecheckboxes {
  display: none;
  border: 1px #dadada solid;
  width: 93%;
}

#kt_couturecheckboxes label {
  display: block;
}

#kt_couturecheckboxes label:hover {
  background-color: #1e90ff;
}
</style>

{% endblock %}


{% block content %}
{{ super() }}


<body>
<div class="ccontainer">
  <h2>{{group}} / {{title}}</h2><br>
  <form action="", method="post" >
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <h3>Arguments</h3>
    <div id="container1">
      {%for i in Arguments%}
      <div class="couturerow">
        {%if i == 'jars' and len_jar>0%}
        <div class="couturecol-25">
          <label for={{i}} class="couturelabel">{{i}}</label>
        </div>
        <div class="couturecol-75">
          <div class="couturerow">
            <div class="couture-multiselect">
              <div class="couture-selectBox" onclick="javascript:getAllNames({{Files}},'{{Arguments[i]}}'); javascript:showcouturecheckboxes(); ">
                <select >
                  <option>Click to select jar files</option>
                </select>
                <button onclick="javascript:del_feed('{{i}}')" class="couturebutton-delete" title="Delete Argument"><i class="glyphicon glyphicon-remove-circle" style="color:red; float:right" aria-hidden="true"></i></button>
                <div class="couture-overSelect"></div>
              </div>
              <div id="couturecheckboxes" ></div>
            </div>
          </div>
        </div>
        {% endif %}
        {%if i == 'py-files' and len_py>0%}
        <div class="couturecol-25">
          <label for={{i}} class="couturelabel">{{i}}</label>
        </div>
        <div class="couturecol-75">
          <div class="couturerow">
            <div class="couture-multiselect">
              <div class="couture-selectBox" onclick="javascript:Py_getAllNames({{Py_Files}},'{{Arguments[i]}}'); javascript:Py_showcouturecheckboxes(); " >
                <select >
                  <option>Click to select python files</option>
                </select>
                <button onclick="javascript:del_feed('{{i}}')" class="couturebutton-delete" title="Delete Argument"><i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
                <div class="couture-overSelect"></div>
              </div>
              <div id="Py_couturecheckboxes" ></div>
            </div>
          </div>
        </div>
        {%endif%}
        {%if i == 'keytab' and kt_len>0%}
        <div class="couturecol-25">
          <label for={{i}} class="couturelabel">{{i}}</label>
        </div>
        <div class="couturecol-75">
          <div class="couturerow">
            <div class="couture-multiselect">
              <div class="couture-selectBox" onclick="javascript:kt_getAllNames({{kt_Files}},'{{Arguments[i]}}'); javascript:kt_showcouturecheckboxes(); " >
                <select >
                  <option>Click to select keytab files</option>
                </select>
                <button onclick="javascript:del_feed('{{i}}')" class="couturebutton-delete" title="Delete Argument"><i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
                <div class="couture-overSelect"></div>
              </div>
              <div id="kt_couturecheckboxes" ></div>
            </div>
          </div>
        </div>
        {%endif%}
        {%if i!='jars' and i!='py-files' and i!='keytab'%}
        <div class="couturecol-25">
          <label for={{i}} class="couturelabel">{{i}}</label>
        </div>
        <div class="couturecol-75">
          <input id={{i}} name={{i}} type="text" value="{{Arguments[i]}}">
          <button onclick="javascript:del_feed('{{i}}')" class="couturebutton-delete" title="Delete Argument"> <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
        </div>
        {%endif%}
      </div>
      {%endfor%}
    </div>

    <div class="couturerow">
      <a href="javascript:add_feed()" class="couturebutton">Add In Arguments</a>
    </div>
    <h3>Configurations</h3>
    <div id="container2">
      {%for j in Configurations%}
      <div class="couturerow">
        <div class="couturecol-25">
          <label for={{j}}  class="couturelabel">{{j}}</label>
        </div>
        <div class="couturecol-75">
          <input id={{j}} name={{j}} type="text" value="{{Configurations[j]}}">
          <button onclick="javascript:del_feed_config('{{j}}')" class="couturebutton-delete" title="Delete Configuration"> <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="couturerow">
      <a href="javascript:add_feed_config()" class="couturebutton">Add In Configurations</a>
      <input align="middle" type="submit" value="Submit">
    </div>
  </form>
</div>

<!-- Template begins-->
<div class="ccontainer" id="newfield_for_delete" style="display:none">
  <input name="option_title_args_delete" id="for_delete" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

<!-- Template begins-->
<div class="ccontainer" id="newfield_for_delete_config" style="display:none">
  <input name="option_title_config_delete" id="for_delete_config" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

</body>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script type="text/javascript">

const globalValues = {
  newConfigKeySN: 0,
  newArgKeySN: 0,
};

function add_feed()
{
  var div1 = document.createElement('div');

  // creating template here.
  const template = '<div class="couturerow">'
    + '<div class="couturecol-20">'
      + '<input name="new-arg-key-'+ globalValues.newArgKeySN + '" type="text" value="" placeholder="Enter key">'
    + '</div>'
    + '<div class="couturecol-75">'
    + '<input name="new-arg-value-' + globalValues.newArgKeySN + '" type="text" value="" placeholder="Enter value">'
    + '</div>';
  '</div>'
  div1.innerHTML = template;
  globalValues.newArgKeySN += 1;
  document.getElementById('container1').appendChild(div1);
}

function add_feed_config()
{
  var div1 = document.createElement('div');

  // creating template here.
  const template = '<div class="couturerow">'
    + '<div class="couturecol-20">'
      + '<input name="new-config-key-'+ globalValues.newConfigKeySN + '" type="text" value="" placeholder="Enter key">'
    + '</div>'
    + '<div class="couturecol-75">'
    + '<input name="new-config-value-' + globalValues.newConfigKeySN + '" type="text" value="" placeholder="Enter value">'
    + '</div>';
  '</div>'
  div1.innerHTML = template;
  globalValues.newConfigKeySN += 1;
  document.getElementById('container2').appendChild(div1);
}

function del_feed(option)
{
  let del = confirm("Are you sure you want to delete?");
  if(del) {
    document.getElementById("for_delete").value = option;
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById('newfield_for_delete').innerHTML;
    document.getElementById('container1').appendChild(div1);
  }
}
function del_feed_config(option)
{
  let del = confirm("Are you sure you want to delete?");
  if(del) {
    document.getElementById("for_delete_config").value = option;
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById('newfield_for_delete_config').innerHTML;
    document.getElementById('container2').appendChild(div1);
  }
}
var expanded = false;
count_of_clicks=1
function showcouturecheckboxes(f_1) {
  count_of_clicks++;
  var couturecheckboxes = document.getElementById("couturecheckboxes");

  if (!expanded) {
    couturecheckboxes.style.display = "block";
    expanded = true;
  } else {
    couturecheckboxes.style.display = "none";
    expanded = false;
  }
  if(f_1){
    couturecheckboxes.style.display = "none";
    expanded = false;
  }

}

function getAllNames(files,selected_jars) {
    var selected_jars = selected_jars.split(',');
    selected=[]
    for(var i=0; i<selected_jars.length; i++){
        y=selected_jars[i];
        file_name = y.split('\\').pop().split('/').pop();
        selected[i]=file_name;
        }
    var myDiv = document.getElementById("couturecheckboxes");
    if (count_of_clicks == 1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            var checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected.length;i++)
            {
                if(file_name == selected[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                checkBox.checked = "true";
            }
            checkBox.type = "checkbox";
            checkBox.value = file_name;
            checkBox.name = "check";
            checkBox.id = "checkBox";
            checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(checkBox);
            checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
    }
}


var Py_expanded = false;
Py_count_of_clicks=1
function Py_showcouturecheckboxes(f_2) {
  Py_count_of_clicks++;
  var Py_couturecheckboxes = document.getElementById("Py_couturecheckboxes");

  if (!expanded) {
    Py_couturecheckboxes.style.display = "block";
    expanded = true;
  } else {
    Py_couturecheckboxes.style.display = "none";
    expanded = false;
  }
  if(f_2){
    Py_couturecheckboxes.style.display = "none";
    expanded = false;
  }
}

function Py_getAllNames(files,selected_py) {
    var selected_py = selected_py.split(',');
    selected=[]
    for(var i=0; i<selected_py.length; i++){
        y=selected_py[i];
        file_name = y.split('\\').pop().split('/').pop();
        selected[i]=file_name;
        }
    var myDiv = document.getElementById("Py_couturecheckboxes");
    if (Py_count_of_clicks == 1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            var py_checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected.length;i++)
            {
                if(file_name == selected[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                py_checkBox.checked = "true";
            }
            py_checkBox.type = "checkbox";
            py_checkBox.value = file_name;
            py_checkBox.name = "py_check";
            py_checkBox.id = "py_checkBox";
            py_checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(py_checkBox);
            py_checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
  }

}
var kt_expanded = false;
kt_count_of_clicks=1
function kt_showcouturecheckboxes(f_3) {
  kt_count_of_clicks++;
  var kt_couturecheckboxes = document.getElementById("kt_couturecheckboxes");
  if (!expanded) {
    kt_couturecheckboxes.style.display = "block";
    expanded = true;
  } else {
    kt_couturecheckboxes.style.display = "none";
    expanded = false;
  }
  if(f_3) {
    kt_couturecheckboxes.style.display = "none";
    expanded = false;
  }
}

function kt_getAllNames(files,selected_kt) {
    var selected_kt = selected_kt.split(',');
    selected=[]
    for(var i=0; i<selected_kt.length; i++){
        y=selected_kt[i];
        file_name = y.split('\\').pop().split('/').pop();
        selected[i]=file_name;

        }
    var myDiv = document.getElementById("kt_couturecheckboxes");
    if (kt_count_of_clicks == 1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            var kt_checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected.length;i++)
            {
                if(file_name == selected[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                kt_checkBox.checked = "true";
            }
            kt_checkBox.type = "checkbox";
            kt_checkBox.value = file_name;
            kt_checkBox.name = "kt_check";
            kt_checkBox.id = "kt_checkBox";
            kt_checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(kt_checkBox);
            kt_checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
}

}
$(document).ready(function () {
    getAllNames({{Files | safe}},'{{Arguments['jars']}}');
    showcouturecheckboxes(true);

    Py_getAllNames({{Py_Files | safe}},'{{Arguments['py-files']}}');
    Py_showcouturecheckboxes(true);

    kt_getAllNames({{kt_Files | safe}},'{{Arguments['keytab']}}');
    kt_showcouturecheckboxes(true);
  }
)
// window.onload = function() {
//     console.log("yohhoo")
//     getAllNames({{Files | safe}},'{{Arguments['jars']}}');
//     showcouturecheckboxes(true);

//     Py_getAllNames({{Py_Files | safe}},'{{Arguments['py-files']}}');
//     Py_showcouturecheckboxes(true);

//     kt_getAllNames({{kt_Files | safe}},'{{Arguments['keytab']}}');
//     kt_showcouturecheckboxes(true);
// }
</script>
{% endblock %}
