{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_css %}
{{ super() }}

<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.couturelabel {
  padding: 12px 12px 12px 0;
  display: inline-block;
  word-wrap: break-word;
  max-width: 280px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.couturebutton {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.couturebutton-delete {
  border: none;
  padding: inherit;
  cursor: pointer;
  margin-left: 2px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.ccontainer {
  border-radius: 5px;
  padding: 20px;
}

.couturecol-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.couturecol-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.couturecol-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
  display : table;
}

/* Clear floats after the columns */
.couturerow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .couturecol-25, .couturecol-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    display : table;
  }
}
/* adding new stylesfor dropdown */

.couture-multiselect {
  height:7px;
}

.couture-selectBox {
  height:7px;
  position: relative;
}

.couture-selectBox select {
  width: 93%;
  font-weight: bold;
}

.couture-overSelect {
  width: 93%;
  height:7px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#couture-checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#couture-checkboxes label {
  display: block;
}

#couture-checkboxes label:hover {
  background-color: #1e90ff;
}


</style>

{% endblock %}


{% block body %}
{{ super() }}



<div class="ccontainer">
  <form action="", method="post" >
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <h2>Arguments</h2>
    <div id="container1">
      {%for i in Arguments%}
      <div class="couturerow">
        <div class="couturecol-25">
          <label for={{i}} class="couturelabel">{{i}}</label>
        </div>
        <div class="couturecol-75">
          {%if i == 'jars'%}
          <div class="couture-multiselect">
            <div class="couture-selectBox" onclick="javascript:getAllNames({{Files}},'{{Arguments[i]}}'); javascript:showcouture-checkboxes(); " >
              <select >
                <option>Click to select jar files</option>
              </select>
              <button onclick="javascript:del_feed('{{i}}')" class="couturebutton-delete" title="Delete Argument"><i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>

              <div class="couture-overSelect"></div>
              <div id="couture-checkboxes" ></div>
            </div>
          </div>
          {%else%}
          <input id={{i}} name={{Arguments[i]}} type="text" value={{Arguments[i]}}>
          <button onclick="javascript:del_feed('{{i}}')" class="couturebutton-delete" title="Delete Argument"><i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
          {%endif%}
        </div>
      </div>
      {%endfor%}
    </div>

    <div class="couturerow">
      <a href="javascript:add_feed()" class="couturebutton">Add In Arguments</a>
    </div>
    <h2>Configurations</h2>
    <div id="container2">
      {%for j in Configurations%}
      <div class="couturerow">
        <div class="couturecol-25">
          <label for={{j}}  class="couturelabel">{{j}}</label>
        </div>
        <div class="couturecol-75">
          <input id={{j}} name={{Configurations[j]}} type="text" value={{Configurations[j]}}>
          <button onclick="javascript:del_feed_config('{{j}}')" class="couturebutton-delete" title="Delete Configuration"> <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="couturerow">
      <a href="javascript:add_feed_config()" class="couturebutton">Add In Configurations</a>
      <input align="middle" type="submit" value="Submit">
    </div>
  </form>
</div>

<!-- Template begins-->
<div class="ccontainer" id="newfield_for_contaner1" style="display:none">
  <div class="couturerow">
    <div class="couturecol-20">
      <input name="option_title" type="text" value="" placeholder="Enter name">
    </div>
    <div class="couturecol-75">
      <input name="option_value" type="text" value="" placeholder="Enter value">
    </div>
  </div>
</div>
<!-- Template ends -->

<!-- Template begins-->
<div class="ccontainer" id="newfield_for_contaner2" style="display:none">
  <div class="couturerow">
    <div class="couturecol-20">
      <input name="option_title_config" type="text" value="" placeholder="Enter name">
    </div>
    <div class="couturecol-75">
      <input name="option_value_config" type="text" value="" placeholder="Enter value">
    </div>
  </div>
</div>
<!-- Template ends -->

<!-- Template begins-->
<div class="ccontainer" id="newfield_for_delete" style="display:none">
  <input name="option_title_args_delete" id="for_delete" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

<!-- Template begins-->
<div class="ccontainer" id="newfield_for_delete_config" style="display:none">
  <input name="option_title_config_delete" id="for_delete_config" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->


{% endblock %}

{% block tail_js %}
{{ super() }}
<script type="text/javascript">
function add_feed()
{
	var div1 = document.createElement('div');
	div1.innerHTML = document.getElementById('newfield_for_contaner1').innerHTML;
	document.getElementById('container1').appendChild(div1);
}
function add_feed_config()
{
	var div1 = document.createElement('div');
	div1.innerHTML = document.getElementById('newfield_for_contaner2').innerHTML;
	document.getElementById('container2').appendChild(div1);
}
function del_feed(option)
{
  document.getElementById("for_delete").value = option;
  var div1 = document.createElement('div');
	div1.innerHTML = document.getElementById('newfield_for_delete').innerHTML;
	document.getElementById('container1').appendChild(div1);
}
function del_feed_config(option)
{
  document.getElementById("for_delete_config").value = option;
  var div1 = document.createElement('div');
	div1.innerHTML = document.getElementById('newfield_for_delete_config').innerHTML;
	document.getElementById('container2').appendChild(div1);
}
var expanded = false;
count_of_clicks=1
function showcouture-checkboxes() {
  count_of_clicks++;
  var couture-checkboxes = document.getElementById("couture-checkboxes");

  if (!expanded) {
    couture-checkboxes.style.display = "block";
    expanded = true;
  } else {
    couture-checkboxes.style.display = "none";
    expanded = false;
  }
}

function getAllNames(files,selected_jars) {
    var selected_jars = selected_jars.split(',');
    var myDiv = document.getElementById("couture-checkboxes");
    if (count_of_clicks == 1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            console.log(file_name);
            var checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected_jars.length;i++)
            {
                if(file_name == selected_jars[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                checkBox.checked = "true";
            }
            checkBox.type = "checkbox";
            checkBox.value = file_name;
            checkBox.name = "check";
            checkBox.id = "checkBox";
            checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(checkBox);
            checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
}

}

</script>

{% endblock %}
