{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_js %}
{{ super() }}
<script type="text/javascript">

  </script>

{% endblock %}

{% block head_css %}
{{ super() }}

<style>
</style>

{% endblock %}


{% block content %}
{{ super() }}


<body>
<div class="container">
  <h2>{{title}} - {{group}} </h2><br>
  <form action="", method="post" >
    <div class="row">
      <div class="col-xs-3">
        <div >
          <input  name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
          <h3>Arguments</h3>
        </div>
      </div>
    </div>

    <div id="container1" >
      
      {%for i in Arguments%}
      <div >  
        {%if i == 'jars' and len_jar>0%}<!-- JARS-->
          <div class="row"><!-- row1 begin --> 
            <div class="col-xs-3"> <!-- col1 begin -->
              <label for={{i}} >{{i}}</label>
            </div><!-- col1 end -->
            
            <div class="col-xs-8"><!-- col2 begin -->
              <div onclick="javascript:getAllNames({{Files}},'{{Arguments[i]}}'); javascript:showcouturecheckboxes(); ">
                <select class="form-control">
                  <option>Click to select jar files</option>
                </select>
              </div>
            </div><!-- col2  end -->
            
            <div ><!-- col3  begin -->
              <button onclick="javascript:del_feed('{{i}}')" class="close" aria-label="Close" title="Delete Argument">
                <i class="glyphicon glyphicon-remove-circle" style="color:red; float:right" aria-hidden="true"></i>
              </button>
            </div><!-- col3  end -->
          </div> 
          <div class="col-xs-offset-3" id="couturecheckboxes" ></div>
          <br>
        {% endif %}
          

        {%if i == 'py-files' and len_py>0%}<!-- JARS-->
          <div class="row"><!-- row1 begin --> 
            <div class="col-xs-3"> <!-- col1 begin -->
              <label for={{i}} >{{i}}</label>
            </div><!-- col1 end -->
            
            <div class="col-xs-8"><!-- col2 begin -->
              <div >
                <select class="form-control" onclick="javascript:Py_getAllNames({{Py_Files}},'{{Arguments[i]}}'); javascript:Py_showcouturecheckboxes(); ">
                  <option >Click to select python files</option>
                </select>
              </div>

              <div class="row">
                <div id="Py_couturecheckboxes" ></div>
              </div>
            </div><!-- col2  end -->
            
            <div ><!-- col3  begin -->
              <button onclick="javascript:del_feed('{{i}}')" class="close" aria-label="Close" title="Delete Argument">
                <i class="glyphicon glyphicon-remove-circle" style="color:red; float:right" aria-hidden="true"></i>
              </button>
            </div><!-- col3  end -->
          </div> 
          <br>
          <!-- <div class="col-xs-offset-3" id="Py_couturecheckboxes" ></div> -->
        {% endif %}

        {%if i == 'keytab' and kt_len>0%}<!-- JARS-->
          <div class="row"><!-- row1 begin --> 
            <div class="col-xs-3"> <!-- col1 begin -->
              <label for={{i}} >{{i}}</label>
            </div><!-- col1 end -->
            
            <div class="col-xs-8"><!-- col2 begin -->
              <div onclick="javascript:kt_getAllNames({{kt_Files}},'{{Arguments[i]}}'); javascript:kt_showcouturecheckboxes(); ">
                <select class="form-control">
                  <option>Click to select keytab files</option>
                </select>
              </div>
            </div><!-- col2  end -->
            
            <div ><!-- col3  begin -->
              <button onclick="javascript:del_feed('{{i}}')" class="close" aria-label="Close" title="Delete Argument">
                <i class="glyphicon glyphicon-remove-circle" style="color:red; float:right" aria-hidden="true"></i>
              </button>
            </div><!-- col3  end -->
          </div> 
          <div class="col-xs-offset-3" id="kt_couturecheckboxes" ></div>
          <br>
        {% endif %}

      

        {%if i!='jars' and i!='py-files' and i!='keytab'%}
          <div class="row"><!-- row begin -->
            <div class="col-xs-3">
              <label for={{i}} >{{i}}</label>
            </div>
            <div class="col-xs-8">
              <input class="form-control" id={{i}} name={{i}} type="text" value="{{Arguments[i]}}">
              
            </div>

            <button onclick="javascript:del_feed('{{i}}')" class="close" aria-label="Close" title="Delete Argument"> 
              <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i>
            </button>
          </div><!-- row end -->
          <br>
        {%endif%}
      </div>
      {%endfor%}


      
    </div>

    <br>
    <div class="form-group">
      
        <div >
          <a href="javascript:add_feed()" class="btn btn-success col-xs-2 col-xs-offset-9">Add In Arguments</a>
        </div>
      
    </div>
    
    
    <div class= "form-group" >
      <h3>Configurations</h3>
    </div>
    

    <div id="container2" >
      {%for j in Configurations%}
        <div class="row">
          <div class="col-xs-3">
            <label for={{j}}  >{{j}}</label>
          </div>

          <div class="col-xs-8">
            <input class="form-control" id={{j}} name={{j}} type="text" value="{{Configurations[j]}}">
          </div>

          <div class="col-xs-push-9">
            <button onclick= "javascript:del_feed_config('{{j}}')" class="close" aria-label="Close" title="Delete Configuration"> <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
          </div>
        </div>
        <br>
      {%endfor%}
    </div>
    <br>
    
      <div >
        <a href="javascript:add_feed_config()" class="btn btn-success col-xs-2 col-xs-offset-9">Add In Configurations</a>
      </div>
      <br>
      <div >
        <input type="submit" class="btn btn-success col-xs-1 col-xs-offset-6" value="Submit">
      </div>
    
  </form>
</div>

<!-- Template begins-->
<div class="container" id="newfield_for_delete" style="display:none">
  <input class="form-control" name="option_title_args_delete" id="for_delete" type="hidden" placeholder="Enter name">

</div>
<!-- Template ends -->

<!-- Template begins-->
<div class="container" id="newfield_for_delete_config" style="display:none">
  <input class="form-control" name="option_title_config_delete" id="for_delete_config" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

</body>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script type="text/javascript">

const globalValues = {
  newConfigKeySN: 0,
  newArgKeySN: 0,
};

function add_feed()
{
  var div1 = document.createElement('div');

  // creating template here.
  const template = '<div class="row">'
    + '<div class="col-xs-3">'
      + '<input class="form-control" name="new-arg-key-'+ globalValues.newArgKeySN + '" type="text" value="" placeholder="Enter key">'
      +'<br>'
    + '</div>'
    + '<div class="col-xs-8">'
    +   '<input class="form-control" name="new-arg-value-' + globalValues.newArgKeySN + '" type="text" value="" placeholder="Enter value">'
    + '</div>';
  '</div>'
  div1.innerHTML = template;
  globalValues.newArgKeySN += 1;
  document.getElementById('container1').appendChild(div1);
}

function add_feed_config()
{
  var div1 = document.createElement('div');

  // creating template here.
  const template = '<div class="row">'
    + '<div class="col-xs-3">'
      + '<input class="form-control" name="new-config-key-'+ globalValues.newConfigKeySN + '" type="text" value="" placeholder="Enter key">'
      +'<br>'
    + '</div>'
    
    + '<div class="col-xs-8">'
    + '<input class="form-control" name="new-config-value-' + globalValues.newConfigKeySN + '" type="text" value="" placeholder="Enter value">'
    + '</div>';
  '</div>'
  div1.innerHTML = template;
  globalValues.newConfigKeySN += 1;
  document.getElementById('container2').appendChild(div1);
}

function del_feed(option)
{
  let del = confirm("Are you sure you want to delete?");
  if(del) {
    document.getElementById("for_delete").value = option;
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById('newfield_for_delete').innerHTML;
    document.getElementById('container1').appendChild(div1);
  }
}
function del_feed_config(option)
{
  let del = confirm("Are you sure you want to delete?");
  if(del) {
    document.getElementById("for_delete_config").value = option;
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById('newfield_for_delete_config').innerHTML;
    document.getElementById('container2').appendChild(div1);
  }
}
var expanded = false;
count_of_clicks=1
function showcouturecheckboxes(f_1) {
  count_of_clicks++;
  var couturecheckboxes = document.getElementById("couturecheckboxes");

  if (!expanded) {
    couturecheckboxes.style.display = "block";
    expanded = true;
  } else {
    couturecheckboxes.style.display = "none";
    expanded = false;
  }
  if(f_1){
    couturecheckboxes.style.display = "none";
    expanded = false;
  }

}

function getAllNames(files,selected_jars) {
    var selected_jars = selected_jars.split(',');
    selected=[]
    for(var i=0; i<selected_jars.length; i++){
        y=selected_jars[i];
        file_name = y.split('\\').pop().split('/').pop();
        selected[i]=file_name;
        }
    var myDiv = document.getElementById("couturecheckboxes");
    if (count_of_clicks == 1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            var checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected.length;i++)
            {
                if(file_name == selected[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                checkBox.checked = "true";
            }
            checkBox.type = "checkbox";
            checkBox.value = file_name;
            checkBox.name = "check";
            checkBox.id = "checkBox";
            checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(checkBox);
            checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
    }
}


var Py_expanded = false;
Py_count_of_clicks=1
function Py_showcouturecheckboxes(f_2) {
  Py_count_of_clicks++;
  var Py_couturecheckboxes = document.getElementById("Py_couturecheckboxes");

  if (!Py_expanded) {
    Py_couturecheckboxes.style.display = "block";
    Py_expanded = true;
  } else {
    Py_couturecheckboxes.style.display = "none";
    Py_expanded = false;
  }
  if(f_2){
    Py_couturecheckboxes.style.display = "none";
    Py_expanded = false;
  }
}

function Py_getAllNames(files,selected_py) {
    var selected_py = selected_py.split(',');
    selected=[]
    for(var i=0; i<selected_py.length; i++){
        y=selected_py[i];
        file_name = y.split('\\').pop().split('/').pop();
        selected[i]=file_name;
        }
    var myDiv = document.getElementById("Py_couturecheckboxes");
    if (Py_count_of_clicks >= 0 && Py_count_of_clicks<=1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            var py_checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected.length;i++)
            {
                if(file_name == selected[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                py_checkBox.checked = "true";
            }
            py_checkBox.type = "checkbox";
            py_checkBox.value = file_name;
            py_checkBox.name = "py_check";
            py_checkBox.id = "py_checkBox";
            py_checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(py_checkBox);
            py_checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
  }

}
var kt_expanded = false;
kt_count_of_clicks=1
function kt_showcouturecheckboxes(f_3) {
  kt_count_of_clicks++;
  var kt_couturecheckboxes = document.getElementById("kt_couturecheckboxes");
  if (!kt_expanded) {
    kt_couturecheckboxes.style.display = "block";
    kt_expanded = true;
  } else {
    kt_couturecheckboxes.style.display = "none";
    kt_expanded = false;
  }
  if(f_3) {
    kt_couturecheckboxes.style.display = "none";
    kt_expanded = false;
  }
}

function kt_getAllNames(files,selected_kt) {
    var selected_kt = selected_kt.split(',');
    selected=[]
    for(var i=0; i<selected_kt.length; i++){
        y=selected_kt[i];
        file_name = y.split('\\').pop().split('/').pop();
        selected[i]=file_name;

        }
    var myDiv = document.getElementById("kt_couturecheckboxes");
    if (kt_count_of_clicks == 1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            var kt_checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected.length;i++)
            {
                if(file_name == selected[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                kt_checkBox.checked = "true";
            }
            kt_checkBox.type = "checkbox";
            kt_checkBox.value = file_name;
            kt_checkBox.name = "kt_check";
            kt_checkBox.id = "kt_checkBox";
            kt_checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(kt_checkBox);
            kt_checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
}

}
$(document).ready(function () {
    getAllNames({{Files | safe}},'{{Arguments['jars']}}');
    showcouturecheckboxes(true);

    Py_getAllNames({{Py_Files | safe}},'{{Arguments['py-files']}}');
    Py_showcouturecheckboxes(true);

    kt_getAllNames({{kt_Files | safe}},'{{Arguments['keytab']}}');
    kt_showcouturecheckboxes(true);
  }
)
// window.onload = function() {
//     console.log("yohhoo")
//     getAllNames({{Files | safe}},'{{Arguments['jars']}}');
//     showcouturecheckboxes(true);

//     Py_getAllNames({{Py_Files | safe}},'{{Arguments['py-files']}}');
//     Py_showcouturecheckboxes(true);

//     kt_getAllNames({{kt_Files | safe}},'{{Arguments['keytab']}}');
//     kt_showcouturecheckboxes(true);
// }
</script>
{% endblock %}



