{% extends "airflow/master.html" %}
{% block title %}
  {{ title }}
{% endblock %}

{% block head_css %}
  {{ super() }}
<style>
  .CodeMirror {
    font-size: 14px;
    border: 1px solid #eee;
    height: 500px !important;
  }
  .CodeMirror-merge-gap {
    height: 500px !important;
  }
  .dropdown-submenu{position:relative;}
  .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
  .dropdown-submenu:hover>.dropdown-menu{display:block;}
  .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
  .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
  .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
</style>
<link rel="stylesheet" href="{{ url_for_asset('codemirror/codemirrorlib/codemirror.css') }}" />
<link rel=stylesheet href="{{url_for_asset('codemirror/addon/merge/merge.css')}}">
{% endblock %}

{% block head_js %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h3>DAGs Code Editor - {{filename}}</h3>
  <button class="btn btn-primary pull-right" onclick="submitCode()">Save Code</button>
  <ul class="nav nav-tabs" id="codeEditorTab">
    <li class="active"><a data-toggle="tab" href="#code-content">Code</a></li>
    <li><a data-toggle="tab" href="#review-content">Review</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="snippetsDropdown">Snippets <b class="caret"></b></a>
      <ul class="dropdown-menu">
        {% for title in snippets %}
          <li class=dropdown-submenu>
            <a href="#">{{title}}</a>
            <ul class="dropdown-menu">
              <li>
                <div style="margin: 0.5em;">
                  <button class="btn btn-success pull-right padding-x-md"  onclick="insertSnip(this)">Insert snippet</button>
                  <label class="label label-default">Description</label>
                  <p>{{snippets[title]['description']}}</p>
                  <textarea cols="100" rows="10" class="snip-textarea {{title}}" readonly>{{snippets[title]['snippet']}}</textarea>
                </div>
              </li>
            </ul>
          </li>
        {% endfor %}
        <li>
          <a data-toggle="modal" data-target="#addSnippet">
            Add code snippet &emsp;
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="tab-content">
    <div id="code-content" class="tab-pane fade in active codeTab">
      <h3>Edit Code</h3>
        <textarea id="code" name="code" wrap="hard">{{code}}</textarea>
    </div>
    <div id="review-content" class="tab-pane fade">
      <h3>Review Changes</h3>
      <div class="div-2" id="code-2"></div>
    </div>
  </div>
  <div class="modal fade" id="addSnippet" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add a snippet to snippets repo.</h4>
        </div>
        <form role="form" id="snippetForm" method="POST" action="{{ url_for('AddDagView.save_snippet', filename=filename) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="modal-body">
              <div class="form-group">
                <label for="snippetTitle">Title</label>
                <input type="text" class="form-control" name="title" required>
              </div>
              <div class="form-group">
                <label for="snippetDescription">Description</label>
                <textarea class="form-control" name="description" rows="5"></textarea>
              </div>
              <div class="form-group">
                <label for="snippet">Snippet</label>
                <textarea class="form-control" name="snippet" id="snippetInput"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- old code -->
<textarea id="oldCode" hidden>{{code}}</textarea>
{% endblock %}

{% block tail_js %}
  {{ super() }}
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for_asset('diff_match_patch.js') }}"></script>
<script src="{{ url_for_asset('codemirror/codemirrorlib/codemirror.js') }}"></script>
<script src="{{ url_for_asset('codemirror/mode/python/python.js') }}"></script>
<script src="{{ url_for_asset('codemirror/addon/merge/merge.js') }}"></script>
<script type="text/javascript">

  var codeEditor, diffEditor, snippetEditor;
  function compareChanges() {
    var target = document.getElementById('code-2');
    target.innerHTML = '';
    diffEditor = CodeMirror.MergeView(target, {
      value: codeEditor.getValue(),
      orig: document.getElementById('oldCode').value,
      origLeft: null,
      lineNumbers: true,
      mode: 'python',
      highlightDifferences: true,
    });
    diffEditor.edit.setOption('readOnly', true);
    diffEditor.edit.on('change', function (_cm, change) {
      codeEditor.setValue(_cm.getValue());
    });
  }

  function insertSnip(el) {
    var text = $("textarea", $(el).parent()).val();
    var doc = codeEditor.getDoc();
    var cursor = doc.getCursor();
    doc.replaceRange(text, cursor);
    compareChanges();
  }

  $(document).ready(function() {
    var myTextArea = document.getElementById('code');
    codeEditor = CodeMirror.fromTextArea(myTextArea, { lineNumbers:true, smartIndent: true, mode: 'python' });
    jQuery.noConflict();
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      compareChanges();
    });

    $('#addSnippet').on('shown.bs.modal', function (e) {
      if(!snippetEditor){
        var snipArea = document.getElementById('snippetInput');
        snippetEditor = CodeMirror.fromTextArea(snipArea, { lineNumbers:true, smartIndent: true, mode: 'python' });
      }
    })

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href") // activated tab
      switch (target) {
        case '#review-content':
          $('#snippetsDropdown').addClass('disabled');
          $('#snippetsDropdown').text('Snippets (Not available in review mode.)')
          break;
        case '#code-content':
          $('#snippetsDropdown').html('Snippets <b class="caret"></b>')
          $('#snippetsDropdown').removeClass('disabled');
          break;
        default:
          $('#snippetsDropdown').html('Snippets <b class="caret"></b>')
          $('#snippetsDropdown').removeClass('disabled');
          break;
      }
    });
  });

    /**
   * sends a request to the specified url from a form. this will change the window location.
   * @param {string} path the path to send the post request to
   * @param {object} params the paramiters to add to the url
   * @param {string} [method=post] the method to use on the form
   */

  function post(path, params, method = 'post') {
    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    const form = document.createElement('form');
    form.method = method;
    form.action = path;

    for (const key in params) {
      if (params.hasOwnProperty(key)) {
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = key;
        hiddenField.value = params[key];

        form.appendChild(hiddenField);
      }
    }

      document.body.appendChild(form);
      form.submit();
    }

  function submitCode() {
    var path = "{{ url_for('AddDagView.editdag', filename=filename) }}";
    post(path, { code: codeEditor.getValue(), csrf_token: '{{ csrf_token() }}' });
  }
</script>
{% endblock %}
