{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_css %}
<meta name="google" content="notranslate">
{{ super() }}
<style>
  .margin-left-md { margin-left: 1em; }
  .margin-top-md { margin-top: 1em; }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
  <div>
    <h2 class="margin-top-md">{{ title }}</h2>
    <form id="upload-form" action="{{ url_for(view + '.upload_view') }}" method="post" enctype="multipart/form-data">
      <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <input type="file" name="file" id="cout-file-picker" class="inputfile" multiple style="display: none;" accept="{% for ext in accepted_file_extensions %}{{ ext }},{% endfor %}"/>
        <label for="cout-file-picker" class="btn btn-success pull-right">Upload file(s)</label>
    </form>
  </div>
  <br><br>
  <div class="input-group">
    <span class="input-group-addon">Search file: </span>
    <input type="text" class="form-control" placeholder="filename" id="fileSearch">
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered table-hover" id="filesTable">
      <thead>
        <tr class="table-head">
          <th colspan="15">Filename</th>
          <th colspan="2">Last modified</th>
          <th colspan="2">Size</th>
          <th colspan="2">Links</th>
        </tr>
      </thead>
      <tbody>
      <div>
        {% for i in files %}
        <tr>
          <td colspan="15">
            {% if files_editable %}
              <a href="{{ url_for(view + '.edit_view', filename=i) }}">
            {% else %}
              <a href="#">
            {% endif %}
                {{i}}
              </a>
          </td>
          <td colspan="2">{{files[i]['time']}}</td>
          <td colspan="2">{{files[i]['size']}}</td>
          <td colspan="1">
            <div>
              <a href="{{ url_for(view + '.download_view', filename=i) }}">
                <i class="fa fa-cloud-download fa-lg" data-toggle="tooltip" title="Download"></i>
              </a>
            </div>
            </td>
          <td colspan="1">
            <a href="{{ url_for(view + '.destroy_view', filename=i) }}" onclick="return confirm('Are you sure to delete {{i}} ?')">
              <i class="fa fa-trash fa-lg" style="color:red" aria-hidden="true" data-toggle="tooltip" title="Delete File"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </div>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block tail_js %}
{{ super() }}
<!-- </body> -->
<script type="text/javascript">

  $(document).ready(function () {
    document.getElementById('cout-file-picker').onchange = function() {
      document.getElementById('upload-form').submit();
    };
    $('[data-toggle="tooltip"]').tooltip();

    $("#fileSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#filesTable tr").filter(function() {
        if ( !$(this).hasClass('table-head'))
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  })
</script>
{% endblock %}
