{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_css %}
{{ super() }}
<style>
    * {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.couture-label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  word-wrap: break-word;
  max-width: 280px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.couture-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.couture-button-delete {
  border: none;
  padding: inherit;
  cursor: pointer;
  margin-left: 2px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.couture-container {
  border-radius: 5px;
  padding: 20px;
}

.couture-col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.couture-col-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
  display : table;
}

/* Clear floats after the columns */
.couture-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .couture-col-25, .couture-col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    display : table;
  }
}

</style>

{% endblock %}


{% block body %}
{{ super() }}

<div class="couture-container">
  <form action="{{ url_for('HadoopConfView.edit_view', pathname=pathname) }}" method="post">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <h2>Configuration</h2>
    <div id="container_xml">
      {%for j in Configurations%}
      <div class="couture-row">
        <div class="couture-col-25">
          <label for="{{j}}"  class="couture-label">{{j}}</label>
        </div>
        <div class="couture-col-75">
          <input id="{{j}}" name="{{j}}" type="text" value="{{Configurations[j]}}">
          <button onclick="javascript:myFunction_config('{{j}}')" class="couture-button-delete" title="Delete Configuration"><i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true">
          </i></button>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="couture-row">
      <a href="javascript:add_feed_config()" class="couture-button">Add In Configurations</a>
      <input align="middle" type="submit" value="Submit All Changes">
    </div>
  </form>
</div>

<!-- Template begins-->
<div class="couture-container" id="newfield_for_xml" style="display:none">
  <div class="couture-row">
    <div class="couture-col-25">
      <input name="option_title_config" type="text" value="" placeholder="Enter name">
    </div>
    <div class="couture-col-75">
      <input name="option_value_config" type="text" value="" placeholder="Enter value">
    </div>
  </div>
</div>
<!-- Template ends -->

<!-- Template begins-->
<div class="couture-container" id="newfield_for_delete_xml" style="display:none">
  <input name="option_title_config_delete" id="for_delete_xml" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

{% endblock %}

{% block tail_js %}
{{ super() }}

<script type="text/javascript">
  var globalValues = {
    newConfigKeySN: 0
  };
  function add_feed_config() {
    var div1 = document.createElement('div');

    // creating template here.
    const template = '<div class="couture-row">'
      + '<div class="couture-col-25">'
      + '<input name="new-config-key-'+ globalValues.newConfigKeySN + '" type="text" value="" placeholder="Enter name" required>'
      + '</div>'
      + '<div class="couture-col-75">'
      + '<input name="new-config-value-' + globalValues.newConfigKeySN + '" type="text" value="" placeholder="Enter value" required>'
      + '</div>';
    '</div>'

    div1.innerHTML = template;
    globalValues.newConfigKeySN += 1;
    // div1.innerHTML = document.getElementById('newfield_for_xml').innerHTML;
    document.getElementById('container_xml').appendChild(div1);
  }
  function myFunction_config(option) {
    let del = confirm("Are you sure you want to delete?");
    if(del) {
      document.getElementById("for_delete_xml").value = option;
      var div1 = document.createElement('div');
      div1.innerHTML = document.getElementById('newfield_for_delete_xml').innerHTML;
      document.getElementById('container_xml').appendChild(div1);
  }
  }
</script>
{% endblock %}
