{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_css %}
{{ super() }}
<style>
    * {
  box-sizing: border-box;
}

couture-input[type=text], select, textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.couture-label {
  display: inline-block;
  word-wrap: break-word;
  max-width: 280px;
  font-size: 14px;
}

couture-input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.couture-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.couture-button-delete {
  border: none;
  padding: inherit;
  cursor: pointer;
  margin-left: 2px;
  float: right;
  background: none;
}

couture-input[type=submit]:hover {
  background-color: #45a049;
}

.couture-container {
  border-radius: 5px;
  padding: 20px;
}

.couture-col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.couture-col-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
  display : table;
}

/* Clear floats after the columns */
.couture-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .couture-col-25, .couture-col-75, couture-input[type=submit] {
    width: 100%;
    margin-top: 0;
    display : table;
  }
}

.couture-inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.couture-inputfile + label {
    color: white;
    background-color: #4CAF50;
    display: inline-block;
    border-radius: 4px;
    float: right;
}

.couture-inputfile:focus + label,
.couture-inputfile + label:hover {
    background-color: #006400;
}
.couture-inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.file_pick_label {
  padding: 10px 10px 10px 10px;
  color: white;
  margin-left: 100px;
}

</style>
{% endblock %}


{% block body %}
{{ super() }}
<div class="couture-container">
  <form id="display-form" action="" method="post" enctype="multipart/form-data">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="couture-row">
      <div class="couture-col-25">
        <h3 style="margin-top:-2%">Hadoop Configuration Files:</h3>
      </div>
      <div>
        <input type="file" name="file" id="file-picker" class="couture-inputfile" multiple/>
        <label for="file-picker" class="file_pick_label">Choose a file</label>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
      <div id="container-upload">
        {%for i in Files%}
        <tr>
          <!--        <div class="row">-->
          <td>
            <div class="couture-col-25">
              <a href="{{ url_for('HadoopConfView.hadoop_file_edit', filename = i ) }}"><label class="couture-label" name="{{i}}">{{i}}</label></a>
            </div>
            <!--                 <div class="couture-col-75">-->
            <button onclick="javascript:function_delete('{{i}}')" class="couture-button-delete" title="Delete File"><i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
            <!--                </div>-->
          </td>
          <!--        </div>-->
        </tr>
        {%endfor%}
      </div>
      </tbody>
    </table>
  </form>
</div>

<!-- Template begins-->
<div class="couture-container" id="newfield_for_delete" style="display:none">
  <input name="option_title_delete" id="for_delete" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

{% endblock %}

{% block tail_js %}
{{ super() }}


<script type="text/javascript">

document.getElementById('file-picker').onchange = function() {
document.getElementById('display-form').submit();
}

function function_delete(option)
{
  alert("Are you sure you want to delete?");
  document.getElementById("for_delete").value = option;
  var div1 = document.createElement('div');
  div1.innerHTML = document.getElementById('newfield_for_delete').innerHTML;
  document.getElementById('container-upload').appendChild(div1);
}

</script>
{% endblock %}
