{% extends "airflow/master.html" %}
{% block head_css %}
{{ super() }}

<style>
.couture_object {
    overflow:auto;
    border:none
}
</style>
{% endblock %}

{% block body %}

{% include 'appbuilder/general/confirm.html' %}
{% include 'appbuilder/general/alert.html' %}
{% block navbar %}
<header class="top" role="header">
  {% include 'appbuilder/navbar.html' %}
</header>
{% endblock %}


<div class="container">
  <div class="row">
    {% block messages %}
    {% include 'appbuilder/flash.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>
</div>

<div>
  <object id ="contentarea" type="text/html" data="" width="100%" height="1200px" class="couture_object">
  </object>
</div>


{% endblock %}

{% block tail_js %}
{{ super() }}
<script type="text/javascript">

	var loc = "http://" + window.location.hostname + ":8888";

	window.onload = function(){
	    if(!document.getElementById("contentarea"))
	        return false;
	    document.getElementById("contentarea").setAttribute('data', loc);
	}
</script>

{% endblock %}
