{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block head_tail %}
{{super()}}
<script type="text/javascript">

 window.onload = function(){

getAllNames({{Files | safe}},'{{Arguments['keytab']}}');
showcouturecheckboxes(true);
  }

</script>
{% endblock %}

{% block head_css %}
{{ super() }}

<style>
 * {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


.couture-inputfile:focus + label,
.couture-inputfile + label:hover {
    background-color: #006400;
}
.couture-inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.file_pick_label {
  padding: 10px 10px 10px 10px;
  color: white;
  margin-left: 100px;
}

.couture-inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.couture-inputfile + label {
    color: white;
    background-color: #4CAF50;
    display: inline-block;
    border-radius: 4px;
    float: right;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.couturebutton {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.couturebutton-delete {
  border: none;
  padding: inherit;
  cursor: pointer;
  margin-left: 2px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.couture-container {
  border-radius: 5px;
  padding: 20px;
}

.couturecol-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.couturecol-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
  display : table;
}

/* Clear floats after the columns */
.couturerow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .couture-col-25, .couture-col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    display : table;
  }
}

.couture-multiselect {
}

.couture-selectBox {
  position: relative;
}

.couture-selectBox select {
  width: 93%;
  font-weight: bold;
}

.couture-overSelect {
  width: 93%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.couture_table_text{
  color:#2e6da4;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
}
.table-bordered>tbody>tr>td {
    border-collapse: collapse;
    border: none;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    }

.text-center {
    text-align: right;
}

#couturecheckboxes {
  display: none;
  border: 1px #dadada solid;
}

#couturecheckboxes label {
  display: block;
}

#couturecheckboxes label:hover {
  background-color: #1e90ff;
}

</style>
{% endblock %}

{% block content %}
{{ super() }}

<div class="couture-container">
  <h2>{{group}} / {{title}}</h2><br>
  <form id="display-form" action="" method="post" enctype="multipart/form-data">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div id ="container-upload">
      <div class="couture-row">
        <div>
          <input type="file" name="file" id="file-picker" class="couture-inputfile" multiple accept=".keytab"/>
          <label for="file-picker" class="file_pick_label">Upload Keytab File</label>
        </div>
      </div>
      <table class="table table-striped table-bordered">
        <tbody>
        {%for i in file_data%}
        <tr>
          <td class="couture_table_text" class="text-center">
            <label name="{{i}}">{{i}}</label>
          </td>
          <td width="15%" id="modified_time" class="text-center">{{file_data[i]['time']}}</td>
          <td width="10%" id="size" class="text-center">{{file_data[i]['size']}}</td>
          <td width="5%"> <div class="text-center">
            <a href="{{ url_for('KeyTabView.download', group=group, filename= i) }}">
              <i class="fa fa-download" style="font-size:20px;color:blue;line-height: inherit;"></i>
            </a>
          </div>
          </td>
          <td width="2%" >
            <button onclick="javascript:function_delete_Artifact('{{i}}')" class="couture-button-delete">
              <i class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true"></i></button>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


    <div id="container1" >
      {%for i in Arguments%}
      <div class="couturerow">
        {%if  i== 'keytab' and len_keytab>0 %}
        <div class="couturecol-25">
          <label for={{i}} class="couturelabel">{{i}}</label>
        </div>
        <div class="couturecol-75">
          <div class="couturerow">
            <div class="couture-multiselect">
              <div class="couture-selectBox" onclick="javascript:getAllNames({{Files}},'{{Arguments[i]}}'); javascript:showcouturecheckboxes(); " >
                <select >
                  <option>Click to select keytab files</option>
                </select>
                <div class="couture-overSelect"></div>
              </div>
              <div id="couturecheckboxes" ></div>
            </div>
          </div>
        </div>
        {%endif%}

        {%if i!='keytab'%}
        <div class="couturecol-25">
          <label for={{i}} class="couturelabel">{{i}}</label>
        </div>
        <div class="couturecol-75">
          <input id={{i}} name={{i}} type="text" value={{Arguments[i]}}>
        </div>
        {%endif%}
      </div>
    </div>
    {%endfor%}
</div>
<div class="couturerow">
  <input align="middle" type="submit" value="Submit">
</div>
</form>
</div>

<!-- Template begins-->
<div class="couture-container" id="newfield_for_delete_Artifact" style="display:none">
  <input name="option_title_delete_Artifact" id="for_delete_Artifact" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

<!-- Template begins-->
<div class="couture-container" id="newfield_for_delete" style="display:none">
  <input name="option_title_args_delete" id="for_delete" type="hidden" placeholder="Enter name">
</div>
<!-- Template ends -->

{% endblock %}
{% block tail_js %}
{{ super() }}

<script type="text/javascript">
document.getElementById('file-picker').onchange = function() {
document.getElementById('display-form').submit();
}

function function_delete_Artifact(option)
{
  let del = confirm("Are you sure you want to delete?");
  if(del) {
    document.getElementById("for_delete_Artifact").value = option;
    var div1 = document.createElement('div');
    div1.innerHTML = document.getElementById('newfield_for_delete_Artifact').innerHTML;
    document.getElementById('container-upload').appendChild(div1);
  }
}

var expanded = false;
count_of_clicks=1
function showcouturecheckboxes(f_1) {
  count_of_clicks++;
  var couturecheckboxes = document.getElementById("couturecheckboxes");

  if (!expanded) {
    couturecheckboxes.style.display = "block";
    expanded = true;
  } else {
    couturecheckboxes.style.display = "none";
    expanded = false;
  }
  if(f_1){
    couturecheckboxes.style.display = "none";
    expanded = false;
  }

}

function getAllNames(files,selected_jars) {

    var selected_jars = selected_jars.split(',');
    selected=[]
    for(var i=0; i<selected_jars.length; i++){
        y=selected_jars[i];
        file_name = y.split('\\').pop().split('/').pop();
        selected[i]=file_name;
        }
    var myDiv = document.getElementById("couturecheckboxes");
    if (count_of_clicks == 1)
    {
        var checkbox = "";
        for(var t=0; t<files.length; t++) {
            file_name=files[t];
            var checkBox = document.createElement("input");
            var label = document.createElement("label");
            var in_selected = false;
            for (var i=0;i<selected.length;i++)
            {
                if(file_name == selected[i]) {
                    in_selected= true;
                }
            }
            if (in_selected==true) {
                checkBox.checked = "true";
            }
            checkBox.type = "checkbox";
            checkBox.value = file_name;
            checkBox.name = "check";
            checkBox.id = "checkBox";
            checkBox.onclick = "javascript:showValue()";
            label.for = file_name;
            myDiv.appendChild(label);
            label.appendChild(checkBox);
            checkBox.appendChild(document.createTextNode(file_name));
            label.appendChild(document.createTextNode(file_name));
        }
    }

}

function del_feed(option)
{
    document.getElementById("for_delete").value = option;
    var div1 = document.createElement('div');
  div1.innerHTML = document.getElementById('newfield_for_delete').innerHTML;
  document.getElementById('container1').appendChild(div1);
}

</script>
{% endblock %}
