{% extends "airflow/master.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block head_css %}
<meta name="google" content="notranslate">
{{ super() }}
<style>
  .margin-left-md { margin-left: 1em; }
  .margin-top-md { margin-top: 1em; }
  a.disabled :hover{
    cursor:not-allowed
  }
</style>
<link rel=stylesheet href="{{url_for_asset('dropzone/basic.min.css')}}">
<link rel=stylesheet href="{{url_for_asset('dropzone/dropzone.min.css')}}">
{% endblock %}

{% block head_js %}
{{ super() }}
<script src="{{ url_for('static', filename='dropzone/dropzone.min.js') }}"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <span href="#" class="list-group-item active">
            {{title}}
        </span>
        {% for fs_path_key in files %}
          <a href="#{{fs_path_key}}-h4" class="list-group-item"> {{fs_path_key.replace('-', ' ').upper()}} </a>
        {% endfor %}

    </div>

    </div>
    <div class="col-md-8">
      <div>
        <h2 class="margin-top-md">{{ title }}</h2>
        <h3 style="float: right;">Go to: <a href="/model-repo" id="vis-link" target="_blank">Couture Models Training</a></h3> <br>
      </div>
        {% for fs_path_key in files %}
        <h4> <a id="{{fs_path_key}}-h4">{{fs_path_key.replace('-', ' ').upper()}} </a></h4>
        <!-- <form id="{{fs_path_key}}-form" action="{{ url_for(view + '.upload_view', pathname=fs_path_key) }}" method="post" enctype="multipart/form-data">
          <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
          <input type="file" name="file" id="{{fs_path_key}}" class="inputfile" multiple style="display: none;" accept="{% for i in fs_mapping[fs_path_key]['accept_extensions'] %} {{i}}, {% endfor %}" />
          <label for="{{fs_path_key}}" class="btn btn-success pull-right">Upload model</label>
        </form> -->
        <form method="POST" id="{{fs_path_key}}_form" class="dropzone" enctype="multipart/form-data">
          <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        </form>
      <br><br>
      <div class="input-group">
        <span class="input-group-addon">Search file: </span>
        <input type="text" class="form-control" placeholder="filename" id="{{fs_path_key}}-fileSearch">
      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="{{fs_path_key}}-filesTable">
          <thead>
            <tr class="table-head">
              <th colspan="14">File / Directory</th>
              <th colspan="2">Last modified</th>
              <th colspan="2">Size</th>
              <th colspan="2">Links</th>
            </tr>
          </thead>
          <tbody>
          <div>
            {% for i in files[fs_path_key] %}
            <tr>
              <td colspan="14">
                {% if files[fs_path_key][i]['dir'] %}
                  <b>{{i}}</b>
                {% else %}
                  {{i}}
                {% endif %}
              </td>
              <td colspan="2">{{files[fs_path_key][i]['time']}}</td>
              <td colspan="2">{{files[fs_path_key][i]['size']}}</td>
              <td colspan="1">
                <div>
                  <a href="{{ url_for(view + '.download_view', pathname= fs_path_key + '/' + i) }}">
                    <i class="fa fa-cloud-download fa-lg" data-toggle="tooltip" title="Download"></i>
                  </a>
                </div>
              </td>
              <td colspan="1">
                <a href="{{ url_for(view + '.destroy_view', pathname= fs_path_key + '/' + i) }}" onclick="return confirm('Are you sure to delete {{i}} ?')">
                  <i class="fa fa-trash fa-lg" style="color:red" aria-hidden="true" data-toggle="tooltip" title="Delete"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </div>
          </tbody>
        </table>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block tail_js %}
{{ super() }}
<!-- </body> -->
<script type="text/javascript">
  Dropzone.autoDiscover = false;
  {% for fs_path_key in files %}
    $('#{{fs_path_key}}_form').dropzone({
      timeout: 1800000,
      paramName: 'file',
      chunking: true,
      forceChunking: true,
      retryChunks: true,
      parallelChunkUploads: true,
      chunksUploaded: function(file, done){
        // console.log("herererer", file, done);
        $.ajax({
            type: "POST",
            url: '{{ url_for(view + '.extract_view', pathname=fs_path_key) }}',
            data: {
              dzuuid: file.upload.uuid,
              file: file.name,
              totalChunkCount: file.upload.totalChunkCount
            },
            success: function(msg){
              // console.log(msg);
              // console.log(file, "complete");
              done();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              // console.log(textStatus);
              // file.status = Dropzone.ERROR;
              // console.log(file, "error");
              Dropzone.forElement('#{{fs_path_key}}_form').defaultOptions.error(file, 'An error occurred!');
              done();
            }
          });
      },
      url: '{{ url_for(view + '.upload_view', pathname=fs_path_key) }}',
      maxFilesize: {{max_file_size}}, // megabytes
      chunkSize: {{max_chunk_size}}, // bytes
    });
  {% endfor %}

  $(document).ready(function () {
    {% for fs_path_key in files %}
      $("#{{fs_path_key}}-fileSearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#{{fs_path_key}}-filesTable tr").filter(function() {
          if ( !$(this).hasClass('table-head'))
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      });
    {% endfor %}
    $('[data-toggle="tooltip"]').tooltip();


  })
</script>
{% endblock %}
