{#
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#}

{% extends base_template %}
{% block content %}
    {{ super() }}
    
<style>
#versionData{
    overflow-y:scroll; 
    height:500px; 
    padding-left:15px; 
    padding-right:15px
}
</style>


<h1>Find more on what we do at Couture.ai <a style="cursor: pointer;" href="{{demo_url}}" target="_blank">here</a>.</h1>

{% if found_file==True %}
    <h3>Workflow Version: {{changelogs['changelog'][0]['version']}} </h3>
    <h3>Changelog</h3> 
    <div id="versionData">
    {% for changelog_data in changelogs['changelog'] %}
        <div class="panel panel-primary well" style="border-style: groove">
        <ul class="list-group">
        {% for key, values in changelog_data.items() %}
            {% if key=="version" %}        
                <div class="panel-heading"><h3 class="panel-title">Version: {{values}}</h3></div>
            {% else %}
                 <li class="list-group-item"><b>{{key}}</b>
                {% if key=="authors"%}
                    <br>
                    {% for value in values %}
                        {{value}}{{ ", " if not loop.last }}
                    {% endfor %}
                {% else %}
                    <ul>
                    {% for value in values %}
                        <li>{{value}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </li>        
            {% endif %}
        {% endfor %}
        </ul>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}
